.pageContainer {
  min-width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;         
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.title {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-primary);
    line-height: 130%;
 }
  
